[Unit]
Description=Test Script
After=network.target

[Service]
Type=simple

#Might need a user that doesn't require a password
User=systemuser

WorkingDirectory=/home/systemuser/
ExecStart=/usr/bin/ruby http-script.rb


[Install]
WantedBy=multi-user.target
